

<h1>{{pageName}}</h1>
<p>This is the first page in the site.</p>
<button (click)="onButtonClicked()">Want to know time?</button>
<button onclick="alert('How dare')">Don't click me</button>

<p>numberOfBooksWrittenByMe: {{numberOfBooksWrittenByKhalid}}</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet fermentum odio, vel varius enim facilisis
  suscipit sit amet eget nisi. Phasellus molestie leo non turpis molestie ornare. In quis est rutrum ligula
  fermentum posuere. Mauris quam massa, varius vel nulla vitae, accumsan dignissim nisl. Maecenas tempus sem sit
  amet suscipit aliquet.</p>
<p>Mauris ligula nulla, aliquet id pretium vel, pharetra sed ipsum. Praesent malesuada a ligula sit amet facilisis.
  Vivamus vitae tincidunt tortor, eu interdum lectus. Quisque iaculis ex nec est dictum, vel semper libero
 leo, lobortis dictum enim. Morbi nibh enim, gravida et nibh nec, dignissim
  viverra ipsum. Vestibulum congue vitae enim non rutrum. Quisque varius augue nec sem dignissim, sed tempus
  velit pulvinar. Vestibulum dapibus convallis mattis.</p>
<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nec dictum
  odio, sodales aliquam sem. Morbi consectetur venenatis semper. Interdum et malesuada fames ac ante ipsum
  primis in faucibus. Nulla dolor quam, dapibus sit amet porttitor in, tincidunt a justo. Phasellus facilisis
  placerat tempus. Sed dignissim tincidunt metus id tincidunt. Donec efficitur diam et arcu aliquet ultrices.
  ipsum pharetra non.</p>
