<p style="color: blue;">(c) Virtual Pair Programmers 2019</p>
<p style="color: green;">Last accessed: {{lastAccessed}}</p>
<button (click)="addBook()">ADD BOOK</button>
<button (click)="addBook2()">AND ANOTHER ONE</button>
