<div>
<app-header (pageChangedEvent)="incrementHitCounter($event)"></app-header>
<!-- these elements appear on the bom, instead, *ngIf resolves before compiling to the dom -->
<app-page1 [hidden]="currentPage !== 1"></app-page1>
<app-page2 [hidden]="currentPage !== 2" #page2></app-page2>
<app-page3 [hidden]="currentPage !== 3"></app-page3>

<!-- Carefull using template references with ngIf => the element will be null because it's not compiled to the dom -->
<!-- <app-page1 *ngIf="currentPage === 1"></app-page1>
<app-page2 *ngIf="currentPage === 2" #page2></app-page2>
<app-page3 *ngIf="currentPage === 3"></app-page3> -->

<app-footer [lastAccessed]="startTime" #footer></app-footer>
<button (click)="updateLastAccessed()">Update last accessed</button>

</div>
