<h1>Page 3</h1>
<p>This is the third page in the site.</p>

<button *ngIf="books.length > 0" (click)='deleteLastBook()'>DELETE LAST BOOK</button>
<h3>{{books.length}}</h3>

<p>Nunc vel ante sodales, pretium orci ac, ornare justo. Quisque pretium massa vel turpis malesuada, et egestas mi
  sagittis. Donec facilisis semper viverra. Phasellus ullamcorper, purus sit amet ultrices gravida, leo ex sagittis
  eros, a tempus nunc urna in odio. Donec ac cursus nulla. Maecenas placerat sed arcu vitae ultricies. Interdum et
  malesuada fames ac ante ipsum primis in faucibus. Quisque lectus massa, tincidunt id mauris non, cursus pretium
  dui. In mattis mi velit, eu sollicitudin neque porta feugiat. Sed semper tortor turpis, quis rhoncus purus
  fermentum vel. Nam consequat quis risus ut pharetra. Morbi mattis eget dui efficitur euismod.</p>

